.container
  %h1 Chat
  .well#chat
    %table.table
      %tbody
        %tr
          %td.span2 Simon dice:
          %td.span10 Arriba!
        %tr
          %td.span2 Simon dice:
          %td.span10 Arriba!
  = form_tag '', class: 'form-inline' do
    %fieldset
      .control-group
        .controls
          .input-append
            = text_field_tag 'field','',class: 'span11 myMsg', id: "appendedInputButton"
            = submit_tag 'Enviar', class: 'btn sendMyMsg'
