.container
  .row
    .span6
      %h1 Chat

      .well#chat
        %table.table
          %tbody
            %tr
              %td.span1 Simon dice:
              %td.span3 Arriba!
      %form.form-inline
        %fieldset
          .control-group
            .controls
              .input-append
                %input.myMsg.span4{type: 'text'}
                %button.btn{type: 'button'}
                  Enviar
    .span4
      %h1 Patrocinios
