.page-header
  %h1 ¿ Quién es Laberinto Radio ?

.row
  = image_tag 'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/429129_405474399469623_1293941400_n.jpg', class: 'span5 thumbnail'

  .span4
    %h2
      Trabajamos por un
      %u ideal
    :markdown
      Nuestro meta es muy clara y sencilla. Estamos trabajando para generar un __cambio positivo__ en México.

      Ya sea de tipo económico y social, México debe despertar y ser mas proactivo. Pasar de un pueblo dormido,
      a un pueblo que construye y no espera que su __futuro__ lo decida un partido político.

      Nuestra aportación está en difundir información que no esta maquillada ni comprada por ningún grupo de poder.
      Queremos ser percibidos como la __fuente de información más pura que pueda haber__, como el
      punto de reunión para discusiones que nos __hagan ser una mejor sociedad__.

      Este país necesita __transparencia__ y __libertad de expresión informada__. Laberinto Radio proveerá.

.row.space-up
  = image_tag 'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/614784_4104525088126_382601819_o.jpg', class: 'span5 thumbnail'
  .span4
    %h2 Radio por Internet, Radio Libre
    :markdown
      A diferencia de los medios convencionales para hacer radio y televisión,
      el Internet es un medio libre en donde la regulación del dialogo es nula.

      Esto nos da paso a atacar los hechos con la verdad, sin temor de ningún
      tipo.

      Sin embargo, defendemos los derechos de autor y nuestras transmisiones
      contienen música libre de derechos.

.row.space-up
  = image_tag 'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/423185_405474362802960_1940064927_n.jpg', class: 'span5 thumbnail'
  .span4
    :markdown
      ## Siempre en equipo

      Además del objetivo en común, nuestra pasión nos une.

      Desde la concepción de este proyecto, la pieza fundamental ha sido siempre
      las ganas y el amor a los temas que nos dedicamos.

      Pasando por deportes, cultura, pensamiento crítico, política, desarrollo personal,
      ecología, desarrollo colonial y hasta una plática casual para alivianar el día,
      cada integrante de Laberinto Radio deja el alma en el micrófono y en su vida
      cotidiana.
