.row
  .span12
    .page-header
      %h1 Laberinto Radio

.row
  .span12
    %h2 Creativos
    %p somos super creativos

.row
  .span12
    %h2 Internet Driven
    %p Todo lo hacemos por Internet

.row
  .span12
    %h2 Autonomos
    %p no dependemos de nadie

.row
  .span12
    %h2 Idealisticos
    %p Queremos hacer nuestros suenios realidad
