.chat{
  margin-top: 20px;
  .board{
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 10px;
    height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    // Landscape phones and down
    @media (max-width: 480px) { height: 160px; }
    @media (max-width: 767px) { height: 255px; }
    @media (min-width: 768px) and (max-width: 979px) { height: 300px; }
    @media (min-width: 1200px) { height: 400px; }
    .welcome{
      padding-top: 20%;
    }
    .msg{
      .nick{
        display: inline-block;
        width: 10%;
        font-weight: bold;
      }
      border-bottom: 1px dotted #eee;
      padding: 5px;
      margin: 0 auto;
      width: 100%;
      word-wrap: break-word;
    }
  }
  .list{
    overflow-x: scroll;
    @media (max-width: 480px) { height: 160px; }
    @media (max-width: 767px) { height: 255px; }
    @media (min-width: 768px) and (max-width: 979px) { height: 300px; }
    @media (min-width: 1200px) { height: 400px; }
    .user{
      padding: 5px;
    }
  }
}

.notice{
  text-align: center;
  img{
    height: 200px;
    padding-bottom: 15px;
  }
}
