// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  padding-bottom: 30px;
}

.space-up{
  padding-top: 40px;
}

.program{
  margin-top:    15px;
  margin-bottom: 15px;
  padding-top:    15px;
  padding-bottom: 15px;
  border-bottom:  1px dashed #eee;
}

