.row-fluid{ style: 'text-align: center' }
  =image_tag 'laberinto-header.png', style: 'width: 50%'
%br
.hero-unit
  %h1 Laberinto Radio
  %p Una radio Independiente, para gente inteligente.
  =link_to 'Escuchar', '#', class: 'btn btn-primary'

.page-header
  %h1
    Nuestra pasion
    %small Lo que nos mueve
%p En laberinto radio nos movemos porque nos apasiona el saber y la transmision de conocimiento.

%h2 Programacion
%ul
  %li Transmision 1
  %li Transmision 1
  %li Transmision 1
  %li Transmision 1
  %li Transmision 1
