.hero-unit
  = image_tag 'laberinto.png', style: 'float: right; height: 200px; margin-top: -35px;'
  %h1 Laberinto Radio
  %p La radio que fomenta el crecimiento economico y social de Mexico
  .btn.btn-large.btn-success
    Programacion
%ul.thumbnails
  %li.span3
    .thumbnail
      =image_tag 'http://i372.photobucket.com/albums/oo167/Blanquiiis/locutor-con-microfono-.jpg'
      %h3 Laberinto empezo
      %p con la iniciativa de dos jovenes que creen profundamente en Mexico y lo quieren ver grande.
  %li.span3
    .thumbnail
      =image_tag 'http://www.forecast-consoles.com/images/products/main_radio_consoles.jpg'
      %h3 Mision
      %p Somos un punto de encuentro digital  para la creación de nuevas ideas, proyectos y negocios que impulsen el desarrollo económico y social.
  %li.span3
    .thumbnail
      =image_tag 'http://www.alternative-doctor-radio.com/images/radioyellowshirt.jpg'
      %h3 Vision
      %p En el 2020 seremos considerados la evolucion de la radio y creadores de nuevas formas de comunicacion digital.
  %li.span3
    .thumbnail
      =image_tag 'http://3.bp.blogspot.com/-G6e_I-Q3e8Q/T04we1LR1pI/AAAAAAAAFOA/AdDw193nZu4/s1600/memes-y-u-no-shoot-hadoukens.jpg'
      %h3 Tu apoyo
      %p Mexico ha dejado de ser un pueblo dormido, alza la voz y nosotros hacemos la difusion.
.container
  .row-fluid
    .span5
      %h1 Perspectiva
      %p Cuando un Mexicano piensa en su pais regularmente tiene sentimientos encontrados, Mexico es un pais hermoso pero con muchos problemas de seguridad, delincuencia y corrupcion. Se podria pensar solo en lo malo, pero este pais no necesita que lo analicen con el lente de los errores. Este pais necesita gente que luche por su rescate de una manera inteligente.
    .span5
      %h1 Valores
      %dl
        %dt Libertad de Expresion
        %dd Mientras se haga con inteligencia.
        %dt Conciencia
        %dd Mientras se haga con inteligencia.
        %dt Respeto
        %dd Mientras se haga con inteligencia.
    .span2
      %h1 FB
      %h1 TW
      %h1 LI
