= content_for :js do
  = javascript_include_tag 'https://www.google.com/jsapi', Yetting.google_maps, 'locutor.js'

%h1 Stats
:css
  .lr.map{
    width: 600px;
    height: 400px;
  }

.lr.map
.lr.chart

.lr.stop.btn
  %i.icon-stop

