.row
  .span12
    %h1 En construcción
    %p Estamos trabjando para traerte lo mejor de este proyecto.

:ruby
  urls = [
    'https://sphotos.xx.fbcdn.net/hphotos-ash4/423185_405474362802960_1940064927_n.jpg',
    'https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc7/468806_405471276136602_65609919_o.jpg',
    'https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/428656_405474439469619_1598403419_n.jpg',
    'https://sphotos.xx.fbcdn.net/hphotos-ash4/429129_405474399469623_1293941400_n.jpg',
    'https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/414066_195250080581586_479976604_o.jpg',
    'https://sphotos.xx.fbcdn.net/hphotos-ash4/328493_183996611706933_15768569_o.jpg',
    'https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/466156_248684471885773_1603626934_o.jpg',
    'https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc7/467323_248683845219169_218848324_o.jpg',
    'https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc7/466362_248683238552563_1963181005_o.jpg'
  ]
%ul.thumbnails
  %li.span6
    .thumbnail
      = image_tag urls.shuffle!.pop
  %li.span6
    .thumbnail
      = image_tag urls.pop


= link_to image_tag('http://icons.iconarchive.com/icons/iconshock/high-detail-social/128/twitter-icon.png'), 'http://www.twitter.com/laberinto_radio'
= link_to image_tag('http://icons.iconarchive.com/icons/iconshock/high-detail-social/128/facebook-icon.png'), 'http://www.facebook.com/laberintoradiomexico'
